# Static Data of the lines and stops of the urban buses in EMT Madrid
In this notebook we are going to transform the data found in gtfs format to a geodataframe format, which is easier to work with. We can find the gtfs at the following link: 
https://transitfeeds.com/p/emt-madrid/212/20200309/download

After downloading it, we have to unzip it, and then we are ready to work with the .txt files found inside

In [2]:
#We load the modules of interest
import pandas as pd
import json
%matplotlib inline

In [6]:
#Load line_stops_dict
with open('../Data/Static/line_stops_dict.json', 'r') as f:
    line_stops_dict = json.load(f)

## Load routes data

In [9]:
#We load the route data into a dataframe
routes = pd.read_csv('M6/routes.txt')
#And we show the dataframe
routes.head()

## Load stops data

In [5]:
#We load the dataframe of the stops
stops = pd.read_csv('M6/stops.txt').drop(['stop_id','stop_url','stop_desc','location_type','parent_station','zone_id'], axis=1)
stops = stops.rename(columns={'stop_code': 'id','stop_lat':'lat','stop_lon':'lon'})
stops.head()

FileNotFoundError: [Errno 2] File b'M6/stops.txt' does not exist: b'M6/stops.txt'

In [5]:
#And we save it to a file with a geojson format
stops.to_csv('M6/stops.csv')
#Finally we show the first five rows of the dataframe
stops.describe()

                 id          lat          lon
count   4730.000000  4730.000000  4730.000000
mean    2742.564059    40.424836    -3.682491
std     1805.450620     0.039964     0.047375
min        1.000000    40.332200    -3.836030
25%     1302.250000    40.392343    -3.713307
50%     2632.500000    40.424915    -3.685675
75%     4092.750000    40.457565    -3.649503
max    50011.000000    40.517210    -3.542490

## Load stop times data

In [6]:
#Add distance of each one to beggining of line
stop_times = pd.read_csv('M6/stop_times.txt')#[['stop_id','shape_dist_traveled']].drop_duplicates()

def separate_trip_id(df):
    day_types,lines,bus_pos,bus_trip = [],[],[],[]
    for row in df.itertuples():
        day_types.append(row.trip_id[0:2])
        lines.append(int(row.trip_id[2:5]))
        bus_pos.append(int(row.trip_id[5:8]))
        bus_trip.append(int(row.trip_id[8:]))
    
    df['day_type'] = day_types
    df['line'] = lines
    df['bus_pos'] = bus_pos
    df['bus_trip'] = bus_trip
    
    return df

stop_times = separate_trip_id(stop_times)[['day_type','line','bus_pos','bus_trip','stop_id','stop_sequence','shape_dist_traveled']]
stop_times.head()

,day_type,line,bus_pos,bus_trip,stop_id,stop_sequence,shape_dist_traveled
0,FE,1,1,1,4514,1,0
1,FE,1,1,1,4022,2,295
2,FE,1,1,1,3687,3,485
3,FE,1,1,1,737,4,759
4,FE,1,1,1,735,5,1019

In [7]:
lines = [1,44,82,91,92,99,132,133,502,506]
bus_trips = [1,2]
bus_pos = 1
stop_times_reduced = stop_times.loc[(stop_times.line.isin(lines))&(stop_times.bus_trip.isin(bus_trips))&(stop_times.bus_pos==bus_pos)]
stop_times_reduced.head()

,day_type,line,bus_pos,bus_trip,stop_id,stop_sequence,shape_dist_traveled
0,FE,1,1,1,4514,1,0
1,FE,1,1,1,4022,2,295
2,FE,1,1,1,3687,3,485
3,FE,1,1,1,737,4,759
4,FE,1,1,1,735,5,1019

## Load frequencies data

In [8]:
#Add distance of each one to beggining of line
frequencies = pd.read_csv('M6/frequencies.txt')
#Parse the  datetime
frequencies['start_time'] = frequencies.start_time.apply(lambda x: str(int(x[0:2])%24)+x[2:] if int(x[0:2])>=24 else x)
frequencies['start_time'] = pd.to_datetime(frequencies['start_time'],format='%H:%M:%S').dt.time
frequencies['end_time'] = frequencies.end_time.apply(lambda x: str(int(x[0:2])%24)+x[2:] if int(x[0:2])>=24 else x)
frequencies['end_time'] = pd.to_datetime(frequencies['end_time'],format='%H:%M:%S').dt.time

#Separate trip id parts
frequencies = separate_trip_id(frequencies)[['day_type','line','bus_pos','bus_trip','start_time','end_time','headway_secs']]
frequencies = frequencies.sort_values(by=['line','start_time'],ascending=True)
frequencies.loc[(frequencies.line==1)&((frequencies.bus_pos%2)==0)&(frequencies.day_type=='LA')][-20:]

    day_type  line  bus_pos  bus_trip start_time  end_time  headway_secs
164       LA     1        4        12   17:59:00  19:04:59           780
229       LA     1        8        11   18:11:00  19:16:59           720
252       LA     1       10        10   18:28:00  19:29:59           720
131       LA     1        2        13   18:40:00  19:44:59           720
197       LA     1        6        12   18:52:00  19:59:59           720
165       LA     1        4        13   19:05:00  20:14:59           780
230       LA     1        8        12   19:17:00  20:14:59           720
253       LA     1       10        11   19:30:00  20:30:59           900
132       LA     1        2        14   19:45:00  20:43:59           900
198       LA     1        6        13   20:00:00  20:56:59           900
166       LA     1        4        14   20:15:00  21:12:59           900
254       LA     1       10        12   20:31:00  21:21:59           780
133       LA     1        2        15   20:44:00  21:33:59           780
199       LA     1        6        14   20:57:00  21:49:59           780
167       LA     1        4        15   21:13:00  22:05:59           960
134       LA     1        2        16   21:34:00  22:21:59          1020
200       LA     1        6        15   21:50:00  22:38:59           960
168       LA     1        4        16   22:06:00  22:58:59           960
201       LA     1        6        16   22:39:00  23:17:59          1200
169       LA     1        4        17   22:59:00  23:33:59          1200

## Load shapes of the lines data

In [9]:
#We load the dataframe with the shapes of the lines and rename its columns
shapes = pd.read_csv('M6/shapes.txt').rename(columns={"shape_pt_sequence":"sequence","shape_dist_traveled":"dist_traveled", "shape_pt_lat": "lat", "shape_pt_lon": "lon"})
#And show the dataframe
shapes.head()

  shape_id        lat       lon  sequence  dist_traveled
0    001_A  40.438475 -3.717931         1              0
1    001_A  40.438193 -3.717836         2             30
2    001_A  40.437973 -3.717876         3             55
3    001_A  40.437833 -3.717896         4             70
4    001_A  40.436803 -3.718076         5            186

In [10]:
def transform_route_id(df) :
    '''
    Adds a new column with the short id and the direction to the dataframe
    
        Params
        ---
        df: DataFrame
    '''
    new_df = df
    
    #Function that adds the line id
    def get_line_id(row) :
        if (row['shape_id'][1] == '0') & (row['shape_id'][0] == '0') :
            return int(row['shape_id'][2])
        elif row['shape_id'][0] == '0':
            return int(row['shape_id'][1:3])
        else :
            return int(row['shape_id'][0:3])
    
    #Function that adds the direction
    def get_route_direction(row) :
        if row['shape_id'][4] == 'A':
            return 1
        else:
            return 2
        
    #Function that adds the short name of the line
    def get_line_short_name(row) :
        return routes.loc[routes.route_id == row.line_id].iloc[0]['route_short_name']
    
    
    new_df["line_id"] = new_df.apply(get_line_id, axis=1)
    new_df["line_sn"] = new_df.apply(get_line_short_name, axis=1)
    new_df["direction"] = new_df.apply(get_route_direction, axis=1)
    
    return new_df[['shape_id','line_id','line_sn','direction','sequence','dist_traveled','lat','lon']]

#We call the functions and show the result
lines_shapes = transform_route_id(shapes)
lines_shapes.to_csv('M6/lines_shapes.csv')
lines_shapes.head()

,shape_id,line_id,line_sn,direction,sequence,dist_traveled,lat,lon
0,001_A,1,1,1,1,0,40.438475,-3.717931
1,001_A,1,1,1,2,30,40.438193,-3.717836
2,001_A,1,1,1,3,55,40.437973,-3.717876
3,001_A,1,1,1,4,70,40.437833,-3.717896
4,001_A,1,1,1,5,186,40.436803,-3.718076

In [12]:
#With this line we can take a look at all the bus line ids in the geodataframe
lines_shapes.line_id.unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  14,
        15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,  27,
        28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,  40,
        41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,  53,
        54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,  66,
        67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,  79,
        81,  82,  83,  85,  86,  87,  90,  91,  92,  93,  96,  99, 100,
       101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113,
       114, 115, 116, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127,
       128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140,
       141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153,
       155, 156, 160, 161, 162, 165, 166, 171, 172, 173, 174, 175, 176,
       177, 178, 200, 203, 210, 215, 247, 310, 361, 362, 372, 401, 402,
       403, 404, 451, 452, 453, 454, 455, 456, 457, 481, 501, 502, 503,
       504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516,
       517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 601,
       702, 704, 718, 723, 730, 766])

In [13]:
#With this line we can take a look at all the bus line ids in the geodataframe
lines_shapes.line_sn.unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35',
       '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46',
       '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57',
       '58', '59', '60', '61', '62', '63', '64', '65', '66', '67', 'C1',
       'C2', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79',
       '81', '82', '83', '85', '86', '87', 'E', 'F', 'G', 'A', 'H', 'U',
       '100', '101', '102', '103', '104', '105', '106', '107', '108',
       '109', '110', '111', '112', '113', '114', '115', '116', '118',
       '119', '120', '121', '122', '123', '124', '125', '126', '127',
       '128', '129', '130', '131', '132', '133', '134', '135', '136',
       '137', '138', '139', '140', '141', '142', '143', '144', '145',
       '146', '147', '148', '149', '150', '151', '152', '153', '155',
       '156', '160', '161', '162', '165', '166', '171', '172', '173',
       '174', '175', '176', '177', '178', '200', '203', '210', '215',
       '247', '310', '001', '002', '172SF', 'E1', 'E2', 'E3', 'E4', 'T11',
       'T23', 'T32', 'T31', 'T61', 'T41', 'T62', 'H1', 'N1', 'N2', 'N3',
       'N4', 'N5', 'N6', 'N7', 'N8', 'N9', 'N10', 'N11', 'N12', 'N13',
       'N14', 'N15', 'N16', 'N17', 'N18', 'N19', 'N20', 'N21', 'N22',
       'N23', 'N24', 'N25', 'N26', 'N27', 'N28', 'M1', 'SE702', 'SE704',
       'SE718', 'SE723', 'SE730', 'SE766'], dtype=object)

## Create lines collected dictionary
Dictionary with the short name, destinations, stops and distances to that stops for each of the lines collected

In [17]:
#Distance to every stop in line dictionary
destinations_sn = {
    '1' : ('1', ('CRISTO REY', 'PROSPERIDAD')),
    '44' : ('44', ('CALLAO', 'MARQUES DE VIANA') ),
    '82' : ('82', ('MONCLOA', 'PITIS') ),
    '132' : ('132', ('MONCLOA', 'HOSPITAL LA PAZ') ),
    '133' : ('133', ('CALLAO', 'MIRASIERRA') ),
    '91' : ('F', ('CUATRO CAMINOS', 'CIUDAD UNIVERSITARIA') ),
    '92' : ('G', ('MONCLOA', 'CIUDAD UNIVERSITARIA') ),
    '99' : ('U', ('AVENIDA SENECA', 'PARANINFO') ),
    '502' : ('N2', ('CIBELES', 'VALDEBEBAS') ),
    '506' : ('N6', ('CIBELES', 'LAS ROSAS') )
}

line_sns = ['1','44','82','F','G','U','132','133','N2','N6']
line_ids = ['1','44','82','91','92','99','132','133','502','506']
lines_collected_dict = {}
for i in range(10) :
    line_sn = line_sns[i]
    line_id = line_ids[i]
    
    lines_collected_dict[line_sn] = {}
    lines_collected_dict[line_sn]['line_id'] = line_id
    lines_collected_dict[line_sn]['destinations'] = destinations_sn[line_id][1]
    for direction in ['1','2'] :
        stops = line_stops_dict[line_id][direction]
        lines_collected_dict[line_sn][direction] = {}
        lines_collected_dict[line_sn][direction]['length'] = str(lines_shapes.loc[(lines_shapes['line_id']==int(line_id))&(lines_shapes['direction']==int(direction))].dist_traveled.max()) 
        lines_collected_dict[line_sn][direction]['stops'] = stops 
        lines_collected_dict[line_sn][direction]['distances'] = {}
        
        trip_index = 1
        day_type = 'LA'
        stops_data = stop_times.loc[(stop_times.day_type==day_type)&(stop_times.line==int(line_id))&(stop_times.bus_pos==1)&(stop_times.bus_trip==trip_index)]
        while (int(stops[3]) not in stops_data.stop_id.unique().tolist()) and (trip_index < 6): 
            trip_index += 1
            stops_data = stop_times.loc[(stop_times.day_type==day_type)&(stop_times.line==int(line_id))&(stop_times.bus_pos==1)&(stop_times.bus_trip==trip_index)]
            if trip_index > 3 :
                day_type = 'FE'
        for stop in stops :
            stop_data = stops_data.loc[stops_data.stop_id == int(stop)].iloc[0]
            lines_collected_dict[line_sn][direction]['distances'][stop] = str(stop_data.shape_dist_traveled)

with open('M6Data/lines_collected_dict.json', 'w') as fp:
    json.dump(lines_collected_dict, fp)
lines_collected_dict

{'1': {'line_id': '1',
  'destinations': ('CRISTO REY', 'PROSPERIDAD'),
  '1': {'length': '8818',
   'stops': ['4514',
    '4022',
    '3687',
    '737',
    '735',
    '193',
    '173',
    '171',
    '169',
    '723',
    '724',
    '5138',
    '164',
    '70',
    '162',
    '423',
    '424',
    '425',
    '426',
    '731',
    '729',
    '727',
    '726',
    '2304',
    '721',
    '717',
    '715',
    '745',
    '273'],
   'distances': {'4514': '0',
    '4022': '295',
    '3687': '485',
    '737': '759',
    '735': '1019',
    '193': '1296',
    '173': '1541',
    '171': '1939',
    '169': '2275',
    '723': '2569',
    '724': '2842',
    '5138': '2998',
    '164': '3203',
    '70': '3537',
    '162': '3979',
    '423': '4479',
    '424': '4782',
    '425': '5084',
    '426': '5360',
    '731': '5654',
    '729': '6094',
    '727': '6526',
    '726': '6756',
    '2304': '7132',
    '721': '7483',
    '717': '7840',
    '715': '8202',
    '745': '8611',
    '273': '8818'}},
  '2': {'length': '8776',
   'stops': ['273',
    '716',
    '718',
    '722',
    '2307',
    '725',
    '728',
    '730',
    '732',
    '733',
    '449',
    '451',
    '452',
    '161',
    '69',
    '5135',
    '5137',
    '4094',
    '9',
    '168',
    '283',
    '1750',
    '172',
    '734',
    '736',
    '738',
    '4816',
    '4021',
    '743',
    '4514'],
   'distances': {'273': '0',
    '716': '169',
    '718': '536',
    '722': '892',
    '2307': '1304',
    '725': '1564',
    '728': '1952',
    '730': '2359',
    '732': '2805',
    '733': '3267',
    '449': '3437',
    '451': '3832',
    '452': '4174',
    '161': '4486',
    '69': '4891',
    '5135': '5167',
    '5137': '5433',
    '4094': '5651',
    '9': '5858',
    '168': '6182',
    '283': '6498',
    '1750': '6696',
    '172': '6847',
    '734': '7148',
    '736': '7394',
    '738': '7645',
    '4816': '7846',
    '4021': '8191',
    '743': '8513',
    '4514': '8776'}}},
 '44': {'line_id': '44',
  'destinations': ('CALLAO', 'MARQUES DE VIANA'),
  '1': {'length': '6843',
   'stops': ['5572',
    '168',
    '283',
    '1750',
    '172',
    '734',
    '736',
    '738',
    '4816',
    '4021',
    '743',
    '803',
    '2390',
    '2392',
    '2394',
    '5591',
    '1666',
    '1668',
    '1670',
    '2396',
    '2398',
    '2400',
    '1676',
    '1678',
    '2402',
    '3895'],
   'distances': {'5572': '0',
    '168': '445',
    '283': '761',
    '1750': '959',
    '172': '1110',
    '734': '1411',
    '736': '1656',
    '738': '1907',
    '4816': '2109',
    '4021': '2454',
    '743': '2775',
    '803': '2951',
    '2390': '3207',
    '2392': '3492',
    '2394': '3925',
    '5591': '4266',
    '1666': '4440',
    '1668': '4604',
    '1670': '4822',
    '2396': '5105',
    '2398': '5458',
    '2400': '5676',
    '1676': '5982',
    '1678': '6419',
    '2402': '6630',
    '3895': '6843'}},
  '2': {'length': '6749',
   'stops': ['3895',
    '3682',
    '2403',
    '1679',
    '1677',
    '2401',
    '2399',
    '2397',
    '1671',
    '1669',
    '1667',
    '5098',
    '2395',
    '2393',
    '2391',
    '2389',
    '4514',
    '4022',
    '3687',
    '737',
    '735',
    '193',
    '173',
    '5139',
    '5572'],
   'distances': {'3895': '0',
    '3682': '110',
    '2403': '493',
    '1679': '724',
    '1677': '1156',
    '2401': '1407',
    '2399': '1641',
    '2397': '1992',
    '1671': '2257',
    '1669': '2478',
    '1667': '2681',
    '5098': '2824',
    '2395': '3268',
    '2393': '3800',
    '2391': '3975',
    '2389': '4232',
    '4514': '4449',
    '4022': '4744',
    '3687': '4934',
    '737': '5207',
    '735': '5468',
    '193': '5745',
    '173': '5990',
    '5139': '6447',
    '5572': '6749'}}},
 '82': {'line_id': '82',
  'destinations': ('MONCLOA', 'PITIS'),
  '1': {'length': '12036',
   'stops': ['1329',
    '3688',
    '4021',
    '743',
    '4175',
    '1684',
    '1686',
    '1687',
    '1689',
    '1691',
    '1693',
    '4285',
    '1697',
    '1699',
    '1701',
    '1703',
    '1705',
    '3391',
    '1709',
    '1711',
    '3756',
    '1716',
    '1718',
    '1720',
    '1722',
    '1724',
    '1726',
    '1633',
    '1635',
    '1730',
    '5729',
    '1629',
    '4404',
    '4282',
    '4292'],
   'distances': {'1329': '0',
    '3688': '174',
    '4021': '456',
    '743': '778',
    '4175': '994',
    '1684': '1917',
    '1686': '2106',
    '1687': '2313',
    '1689': '2546',
    '1691': '2782',
    '1693': '3080',
    '4285': '3301',
    '1697': '3641',
    '1699': '3965',
    '1701': '4500',
    '1703': '4781',
    '1705': '5102',
    '3391': '5344',
    '1709': '5811',
    '1711': '6111',
    '3756': '7037',
    '1716': '7402',
    '1718': '7644',
    '1720': '7969',
    '1722': '8372',
    '1724': '8622',
    '1726': '8893',
    '1633': '9078',
    '1635': '9252',
    '1730': '9480',
    '5729': '9807',
    '1629': '9963',
    '4404': '11526',
    '4282': '11929',
    '4292': '12036'}},
  '2': {'length': '11471',
   'stops': ['4292',
    '4405',
    '1630',
    '1738',
    '1731',
    '1729',
    '1634',
    '1727',
    '1725',
    '1723',
    '1721',
    '1719',
    '1717',
    '1715',
    '1713',
    '1712',
    '1710',
    '5716',
    '1706',
    '1704',
    '5309',
    '1700',
    '1698',
    '5370',
    '1696',
    '1694',
    '1692',
    '1690',
    '1688',
    '1685',
    '1331',
    '4514',
    '4022',
    '3047',
    '1329'],
   'distances': {'4292': '0',
    '4405': '420',
    '1630': '2065',
    '1738': '2249',
    '1731': '2539',
    '1729': '2724',
    '1634': '2935',
    '1727': '3118',
    '1725': '3289',
    '1723': '3624',
    '1721': '3973',
    '1719': '4247',
    '1717': '4476',
    '1715': '4867',
    '1713': '5091',
    '1712': '5615',
    '1710': '5932',
    '5716': '6293',
    '1706': '6562',
    '1704': '6902',
    '5309': '7098',
    '1700': '7633',
    '1698': '8024',
    '5370': '8249',
    '1696': '8440',
    '1694': '8626',
    '1692': '8851',
    '1690': '9107',
    '1688': '9342',
    '1685': '9659',
    '1331': '10024',
    '4514': '10844',
    '4022': '11139',
    '3047': '11350',
    '1329': '11471'}}},
 'F': {'line_id': '91',
  'destinations': ('CUATRO CAMINOS', 'CIUDAD UNIVERSITARIA'),
  '1': {'length': '4392',
   'stops': ['2480',
    '1418',
    '1416',
    '2712',
    '3278',
    '5140',
    '3292',
    '3274',
    '1693',
    '4285',
    '5370',
    '1696',
    '1694',
    '4287',
    '4289',
    '4290'],
   'distances': {'2480': '0',
    '1418': '199',
    '1416': '493',
    '2712': '782',
    '3278': '1314',
    '5140': '1619',
    '3292': '1919',
    '3274': '2111',
    '1693': '2417',
    '4285': '2638',
    '5370': '2875',
    '1696': '3067',
    '1694': '3252',
    '4287': '3611',
    '4289': '3930',
    '4290': '4392'}},
  '2': {'length': '3147',
   'stops': ['4290',
    '4288',
    '4291',
    '3273',
    '3276',
    '5316',
    '185',
    '1415',
    '1417',
    '4284',
    '2480'],
   'distances': {'4290': '0',
    '4288': '287',
    '4291': '529',
    '3273': '772',
    '3276': '1300',
    '5316': '1668',
    '185': '2038',
    '1415': '2318',
    '1417': '2676',
    '4284': '2885',
    '2480': '3147'}}},
 'G': {'line_id': '92',
  'destinations': ('MONCLOA', 'CIUDAD UNIVERSITARIA'),
  '1': {'length': '4165',
   'stops': ['2419',
    '3688',
    '1684',
    '1686',
    '1687',
    '1689',
    '1691',
    '1693',
    '4285',
    '5370',
    '1696',
    '1694',
    '4287',
    '4289',
    '4290'],
   'distances': {'2419': '0',
    '3688': '83',
    '1684': '1027',
    '1686': '1217',
    '1687': '1423',
    '1689': '1656',
    '1691': '1893',
    '1693': '2190',
    '4285': '2411',
    '5370': '2648',
    '1696': '2840',
    '1694': '3025',
    '4287': '3384',
    '4289': '3703',
    '4290': '4165'}},
  '2': {'length': '2499',
   'stops': ['4290', '4288', '1692', '1690', '1688', '1685', '1331', '2419'],
   'distances': {'4290': '0',
    '4288': '287',
    '1692': '639',
    '1690': '895',
    '1688': '1129',
    '1685': '1447',
    '1331': '1811',
    '2419': '2499'}}},
 'U': {'line_id': '99',
  'destinations': ('AVENIDA SENECA', 'PARANINFO'),
  '1': {'length': '2804',
   'stops': ['2415',
    '2417',
    '1684',
    '1686',
    '1687',
    '1689',
    '1691',
    '1693',
    '4285',
    '3861',
    '3862'],
   'distances': {'2415': '0',
    '2417': '420',
    '1684': '573',
    '1686': '762',
    '1687': '968',
    '1689': '1202',
    '1691': '1438',
    '1693': '1736',
    '4285': '1957',
    '3861': '2325',
    '3862': '2804'}},
  '2': {'length': '3800',
   'stops': ['3862',
    '3863',
    '1696',
    '1694',
    '1692',
    '1690',
    '1688',
    '1685',
    '1331',
    '4306',
    '2413',
    '2415'],
   'distances': {'3862': '0',
    '3863': '309',
    '1696': '978',
    '1694': '1164',
    '1692': '1389',
    '1690': '1645',
    '1688': '1879',
    '1685': '2197',
    '1331': '2562',
    '4306': '3101',
    '2413': '3517',
    '2415': '3800'}}},
 '132': {'line_id': '132',
  'destinations': ('MONCLOA', 'HOSPITAL LA PAZ'),
  '1': {'length': '12430',
   'stops': ['1329',
    '3688',
    '4021',
    '743',
    '4175',
    '1684',
    '1686',
    '1687',
    '1689',
    '1691',
    '3273',
    '3276',
    '3277',
    '3278',
    '5140',
    '3281',
    '3283',
    '3285',
    '1674',
    '1577',
    '1643',
    '1645',
    '1647',
    '1649',
    '1651',
    '1653',
    '1655',
    '1657',
    '1516',
    '1514',
    '1512',
    '1510',
    '1786',
    '1364',
    '1366',
    '1368',
    '1370',
    '1372',
    '1373',
    '3288',
    '3290',
    '1605',
    '1602'],
   'distances': {'1329': '0',
    '3688': '174',
    '4021': '456',
    '743': '778',
    '4175': '994',
    '1684': '1917',
    '1686': '2106',
    '1687': '2313',
    '1689': '2546',
    '1691': '2782',
    '3273': '3015',
    '3276': '3543',
    '3277': '3961',
    '3278': '4354',
    '5140': '4659',
    '3281': '5027',
    '3283': '5345',
    '3285': '5536',
    '1674': '5956',
    '1577': '6181',
    '1643': '6510',
    '1645': '6886',
    '1647': '7092',
    '1649': '7322',
    '1651': '7560',
    '1653': '7872',
    '1655': '8063',
    '1657': '8382',
    '1516': '8665',
    '1514': '8855',
    '1512': '9145',
    '1510': '9314',
    '1786': '9615',
    '1364': '9893',
    '1366': '10138',
    '1368': '10481',
    '1370': '10722',
    '1372': '11076',
    '1373': '11275',
    '3288': '11657',
    '3290': '11897',
    '1605': '12165',
    '1602': '12430'}},
  '2': {'length': '10831',
   'stops': ['1602',
    '1604',
    '3291',
    '3289',
    '1379',
    '1380',
    '1371',
    '93',
    '1367',
    '1365',
    '3287',
    '1509',
    '1511',
    '1513',
    '1515',
    '1658',
    '1656',
    '1654',
    '4643',
    '1652',
    '1650',
    '1648',
    '1646',
    '1644',
    '1578',
    '1675',
    '3286',
    '3284',
    '3282',
    '3280',
    '3292',
    '3274',
    '1692',
    '1690',
    '1688',
    '1685',
    '1331',
    '4514',
    '4022',
    '3047',
    '1329'],
   'distances': {'1602': '0',
    '1604': '223',
    '3291': '490',
    '3289': '735',
    '1379': '1050',
    '1380': '1302',
    '1371': '1554',
    '93': '1960',
    '1367': '2133',
    '1365': '2327',
    '3287': '2723',
    '1509': '2979',
    '1511': '3131',
    '1513': '3432',
    '1515': '3602',
    '1658': '3893',
    '1656': '4150',
    '1654': '4430',
    '4643': '4514',
    '1652': '4724',
    '1650': '4960',
    '1648': '5222',
    '1646': '5392',
    '1644': '5790',
    '1578': '6097',
    '1675': '6298',
    '3286': '6610',
    '3284': '6854',
    '3282': '7177',
    '3280': '7449',
    '3292': '7721',
    '3274': '7913',
    '1692': '8211',
    '1690': '8467',
    '1688': '8701',
    '1685': '9019',
    '1331': '9383',
    '4514': '10203',
    '4022': '10498',
    '3047': '10709',
    '1329': '10831'}}},
 '133': {'line_id': '133',
  'destinations': ('CALLAO', 'MIRASIERRA)'),
  '1': {'length': '14994',
   'stops': ['5573',
    '168',
    '283',
    '1750',
    '172',
    '734',
    '736',
    '738',
    '3688',
    '1330',
    '1332',
    '1334',
    '1336',
    '1338',
    '1340',
    '1341',
    '1343',
    '5793',
    '1347',
    '1349',
    '1351',
    '1352',
    '1354',
    '5456',
    '1356',
    '1358',
    '1359',
    '1618',
    '1616',
    '1614',
    '1636',
    '5382',
    '1637',
    '3293',
    '3294',
    '3571',
    '3296',
    '1745',
    '4968'],
   'distances': {'5573': '0',
    '168': '474',
    '283': '791',
    '1750': '988',
    '172': '1140',
    '734': '1441',
    '736': '1686',
    '738': '1937',
    '3688': '2201',
    '1330': '3007',
    '1332': '3373',
    '1334': '3824',
    '1336': '4412',
    '1338': '4535',
    '1340': '4979',
    '1341': '5997',
    '1343': '7166',
    '5793': '7388',
    '1347': '8347',
    '1349': '8783',
    '1351': '9044',
    '1352': '9518',
    '1354': '10087',
    '5456': '10542',
    '1356': '10776',
    '1358': '11101',
    '1359': '11343',
    '1618': '11598',
    '1616': '11819',
    '1614': '12008',
    '1636': '12202',
    '5382': '12480',
    '1637': '12731',
    '3293': '12966',
    '3294': '13640',
    '3571': '14046',
    '3296': '14253',
    '1745': '14655',
    '4968': '14994'}},
  '2': {'length': '14359',
   'stops': ['4968',
    '1749',
    '3572',
    '3295',
    '3228',
    '3229',
    '1612',
    '4741',
    '1615',
    '1617',
    '1360',
    '1361',
    '1357',
    '1355',
    '5652',
    '1353',
    '1350',
    '1348',
    '1346',
    '1344',
    '1342',
    '23',
    '1335',
    '1333',
    '1331',
    '740',
    '737',
    '735',
    '193',
    '173',
    '5139',
    '5573'],
   'distances': {'4968': '0',
    '1749': '185',
    '3572': '454',
    '3295': '933',
    '3228': '1472',
    '3229': '1816',
    '1612': '2157',
    '4741': '2408',
    '1615': '2698',
    '1617': '2921',
    '1360': '3148',
    '1361': '3437',
    '1357': '3654',
    '1355': '4108',
    '5652': '4387',
    '1353': '4997',
    '1350': '5607',
    '1348': '6167',
    '1346': '7191',
    '1344': '7540',
    '1342': '8743',
    '23': '10444',
    '1335': '10987',
    '1333': '11300',
    '1331': '11930',
    '740': '12539',
    '737': '12846',
    '735': '13107',
    '193': '13384',
    '173': '13628',
    '5139': '14086',
    '5573': '14359'}}},
 'N2': {'line_id': '502',
  'destinations': ('CIBELES', 'VALDEBEBAS'),
  '1': {'length': '15306',
   'stops': ['5727',
    '162',
    '751',
    '2227',
    '2229',
    '2231',
    '2233',
    '2235',
    '2009',
    '2011',
    '2013',
    '2015',
    '2017',
    '2020',
    '4721',
    '2022',
    '408',
    '2024',
    '2026',
    '2029',
    '2033',
    '2035',
    '2037',
    '1846',
    '2734',
    '2736',
    '2742',
    '2744',
    '2890',
    '5208',
    '4545',
    '5911',
    '5892',
    '5894',
    '4268',
    '5887',
    '4364'],
   'distances': {'5727': '0',
    '162': '451',
    '751': '1175',
    '2227': '1528',
    '2229': '1802',
    '2231': '2132',
    '2233': '2550',
    '2235': '2921',
    '2009': '3361',
    '2011': '3623',
    '2013': '3815',
    '2015': '4053',
    '2017': '4303',
    '2020': '4538',
    '4721': '4827',
    '2022': '5066',
    '408': '5479',
    '2024': '5909',
    '2026': '6250',
    '2029': '6751',
    '2033': '7371',
    '2035': '7684',
    '2037': '7930',
    '1846': '8143',
    '2734': '8418',
    '2736': '8932',
    '2742': '9333',
    '2744': '9597',
    '2890': '10062',
    '5208': '10482',
    '4545': '11068',
    '5911': '11983',
    '5892': '12832',
    '5894': '13714',
    '4268': '14255',
    '5887': '14850',
    '4364': '15306'}},
  '2': {'length': '16805',
   'stops': ['4364',
    '4397',
    '4269',
    '5895',
    '5893',
    '5912',
    '5891',
    '5209',
    '2891',
    '3395',
    '1851',
    '1852',
    '1853',
    '1849',
    '1847',
    '2038',
    '2036',
    '2034',
    '2030',
    '218',
    '2025',
    '409',
    '462',
    '310',
    '2021',
    '2021',
    '2018',
    '2016',
    '2014',
    '268',
    '2010',
    '2236',
    '2234',
    '2232',
    '2230',
    '2228',
    '4055',
    '2171',
    '5727'],
   'distances': {'4364': '0',
    '4397': '617',
    '4269': '1323',
    '5895': '1803',
    '5893': '2615',
    '5912': '3462',
    '5891': '4320',
    '5209': '5094',
    '2891': '5624',
    '3395': '6281',
    '1851': '6599',
    '1852': '6993',
    '1853': '7238',
    '1849': '7643',
    '1847': '7931',
    '2038': '8149',
    '2036': '8419',
    '2034': '8767',
    '2030': '9353',
    '218': '9940',
    '2025': '10290',
    '409': '10682',
    '462': '11073',
    '310': '11326',
    '2021': '11660',
    '2018': '11900',
    '2016': '12147',
    '2014': '12365',
    '268': '12607',
    '2010': '12857',
    '2236': '13317',
    '2234': '13782',
    '2232': '14137',
    '2230': '14468',
    '2228': '14736',
    '4055': '15251',
    '2171': '15994',
    '5727': '16805'}}},
 'N6': {'line_id': '506',
  'destinations': ('CIBELES', 'LAS ROSAS'),
  '1': {'length': '10627',
   'stops': ['70',
    '162',
    '3686',
    '157',
    '155',
    '153',
    '2168',
    '958',
    '960',
    '962',
    '966',
    '968',
    '970',
    '4462',
    '974',
    '976',
    '977',
    '244',
    '4708',
    '250',
    '2338',
    '2340',
    '2342',
    '3408',
    '2353',
    '4522',
    '5238',
    '4443',
    '4416',
    '4414',
    '4451'],
   'distances': {'70': '0',
    '162': '442',
    '3686': '1251',
    '157': '1501',
    '155': '1784',
    '153': '2091',
    '2168': '3017',
    '958': '3616',
    '960': '3868',
    '962': '4103',
    '966': '4471',
    '968': '4736',
    '970': '4957',
    '4462': '5147',
    '974': '5411',
    '976': '5677',
    '977': '5890',
    '244': '6150',
    '4708': '6600',
    '250': '6873',
    '2338': '7214',
    '2340': '7444',
    '2342': '7769',
    '3408': '8033',
    '2353': '8303',
    '4522': '8777',
    '5238': '9077',
    '4443': '9437',
    '4416': '9664',
    '4414': '9974',
    '4451': '10627'}},
  '2': {'length': '10180',
   'stops': ['4451',
    '4413',
    '4415',
    '4444',
    '3410',
    '4523',
    '2352',
    '2354',
    '2343',
    '2341',
    '2339',
    '252',
    '248',
    '245',
    '999',
    '975',
    '5510',
    '971',
    '969',
    '967',
    '965',
    '961',
    '959',
    '2169',
    '152',
    '154',
    '156',
    '158',
    '161',
    '70'],
   'distances': {'4451': '0',
    '4413': '306',
    '4415': '592',
    '4444': '854',
    '3410': '1197',
    '4523': '1486',
    '2352': '1978',
    '2354': '2222',
    '2343': '2529',
    '2341': '2850',
    '2339': '3055',
    '252': '3379',
    '248': '3702',
    '245': '4084',
    '999': '4591',
    '975': '4919',
    '5510': '5198',
    '971': '5482',
    '969': '5641',
    '967': '5873',
    '965': '6138',
    '961': '6517',
    '959': '6768',
    '2169': '7365',
    '152': '8011',
    '154': '8317',
    '156': '8595',
    '158': '8935',
    '161': '9699',
    '70': '10180'}}}}

# URBAN NETWORK OF MADRID GRAPH

In [1]:
import networkx as nx